<div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="alert">
  {{ ux_icon('tabler:info-circle', {class: 'not-prose', height: '24px', width: '24px'}) }}
  <p class="not-prose">&nbsp;All fields marked with asterisk <b>*</b> are required.</p>
</div>